<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>
    <connectionStrings>
      <!-- Server=c4f925d3-ab25-4bd4-ad9c-a1e1011613d4.sqlserver.sequelizer.com;Database=dbc4f925d3ab254bd4ad9ca1e1011613d4;User ID=hemodcyibfdlbfzt;Password=MvENSaGnnMoPJRKpBP6AJaLXnPxJRqumuKxVQNNqLrvD2rTuKZ7voCjLSQzdJ6C5;-->
      <add name="CNS_SMSTEST" connectionString="Data Source=c4f925d3-ab25-4bd4-ad9c-a1e1011613d4.sqlserver.sequelizer.com;Initial Catalog=dbc4f925d3ab254;User ID= hemodcyibfdlbfzt;Password=MvENSaGnnMoPJRKpBP6AJaLXnPxJRqumuKxVQNNqLrvD2rTuKZ7voCjLSQzdJ6C5;Pooling=true;Application Name=WSGNALERT"/>
    </connectionStrings>
</configuration>
